

/*News artical Section*/
article{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    margin: 1%;
    height: 320px;
    overflow: hidden;
    
}
.newsArtical .newsTitle .newsContent{
    margin: 1%;
} 
.td1{
    margin: 2%;
    display: inline-block;
    position:static;
    width: 400px;
    
}
td{
    margin: 2%;
}
.newsImg{
    
    width: 350px;
    height: 200px;
}



/*Normal css*/
header {
    background-color: #333;
    color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    a:hover{
        color: aqua;
        font: 1em sans-serif;
        font-style: italic;
        margin-right: 25px;
    }
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #e4e2e2;
    color: #333;
    display: block;
}
.highlight{
    color: orangered;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    position: sticky;
    bottom: 0;
}

section {
    margin-bottom: 20px;
}
section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form label {
    display: block;
    margin: 10px 0 5px;
}
form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #646363;
}

@media only screen and (max-width: 600px) {
    .wrapper{
        width: 90%;
        height: 450px;

    }
    article{
        height: 350px;
        

    }
    .td1{
        width: 450px;

    }
    .newsImg{
        margin: 1%;
        width: 340px;
        height: 190px;
    }


}
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
